//pas necessaire dans le bootstrap 
// *{ 
//     box-sizing: border-box;
// }


//     ************************   GENERAL  ************************************ 
// ------------- variables -----------
//space
$spaceTop: 15rem;
$spaceTopHigh: 25vh;
$spaceTopSmall:4rem;
//colors
$color1:#515C61; 
$color2:#68767D; 
$color3: #828F97; 
$color4: #ACB5B9; 
$color5: #E3E6E8; 
$colorBlue : #475e74;
$colorBlueLight:#225381;
//font size
$sizeStandard: 1.25rem;
$sizeMiddle : 1.6rem;
$sizeBigger: 2.2rem;

a, a:visited{ 
  text-decoration: none; 
  color :none;
}
//centred
.custom-centered{
  margin:0 auto;
 }
html, body{
  font-size : 62.5%; /* pour faciliter les calcules on fait partir a 10px*/
 }
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  position: relative;
}
h1, h2, h3, p{
  color: $color1;
}

//section high
section#about-me,
#web-dev,
#projects,
#experience,
#education,
#formulaire{
  min-height: calc(100vh);
}
  // comment faire pour avoir l'espace quand on clique =>js
.about-me{
  padding-top: $spaceTop;
}
.web-dev,
.projects,
.experience,
.education,
.formulaire{
  padding-top: $spaceTopHigh;
}

.backToTop{
  display: none;
	color: white;
  background-color: $color4;
  outline: none;
  border: none;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
  position: fixed;
  top: 83%;
  left: 91%;

  i{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// .container2{
//   width: 100%;
//   margin: 0 auto;
// }
//    ****************************   Navigation   ******************************

//nav position fixed
.fixee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // transform: translateX(-50%);
  z-index: 9;
}
//navbar ajustement
nav{
  background-color:$color1;
  padding-bottom: 1rem !important;

  // .navbar{
  //   min-height: 3rem !important;
  // }

  a.nav-link{
    padding-top: 1.2rem !important;
    color:$color5;
    font-size: $sizeStandard;
    display: inline-block;
    padding-right: 3rem;

  }

  .navbar-toggler-icon{
    color: $color5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-toggler{
    border-color:$color5
  }
  .nav-item{
    position: relative;
    display: flex;
    justify-content: center;
  }

  .active {
      background-color: $colorBlueLight;
  }
}


//    ****************************   About Me     **********************************  


//<!-- 1st part ABOUT ME DOWN--> icons
// fa fa-linkedin-square
// fa fa-github
// Font Awesome 4.7.0 · Created by Font Awesome
// Font Awesome licensed under SIL OFL 1.1 · Code licensed under MIT License · 
// Documentation licensed under CC BY 3.0
section#about-me .fa{
  font-size: 3rem;
  color: $color1;
  padding: 1rem;
}
.fa.fa-file-pdf-o{
  font-size: 1.3rem;
}
.about-me{

  min-height: 90vh;
  h1, h2, p{  
    padding-right: 2%;
    padding-left: 2%;
  }
  p{
    font-size: $sizeStandard;
  }
  // .texte{
  //    margin-bottom: 60vh;
  // }
  .icons{
    // transform: translateY(70%);
    padding-right: 2%;
    padding-left: 2%;
  }
  a, a:visited{
    text-decoration: none;
    color:$color1;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  // a:not(:first-of-type){
  
  // }
} 



#drone{
  height: 12rem;
  width: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 0rem;
  z-index: 10;
  //TODO unblock 
  // box-shadow: 3px 3px 6px $color1;
}
#keyboard {
  display: block;
  margin-left: 55%;
  position: relative;
  filter: opacity(50%);
  // //color: $colorBlueLight;
  // filter: contrast(160%);
  padding-bottom: 0rem;
}

//      *********************    2nd part WEB-DEVELOPEMENT   ************************

// ---------------------    Animation CSS - hand    -------------------------
.click-animate{
  padding-top: 4rem;
  width: 3rem;
  animation-name: clickIcon;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  filter: grayscale(70%);
}

@keyframes clickIcon {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.web-dev{

  .elargir{
    background-color:$color5;
    width: 25%;
    height: 500px; 
    margin: 0 2rem 0 0;
    // overflow ce qui est au dehors du cible / div -->
    // overflow: hidden;  
  }
  .exterior{
    text-align: center;
    margin: 0 auto;
    padding-top: 20vh;
    font-size: $sizeMiddle;
    height: 500px; 
    i{
      font-size: $sizeBigger;
    }
    //img est click
    img{
      margin-top: 2rem;
    }
  }
  .interior{
    padding-top: 1rem;
    height: 500px; 
    // .web-dev-text-interior{
    //   text-align: center;
    // }
    // .fa.fa-times-circle-o{
    //   text-align: ;
    // }
    p{
      font-size: $sizeMiddle;
    }
    .language{
      padding-top: $spaceTopSmall;
      h4, h5{
        padding-top: $sizeStandard;
      }
    }
    #btnClose{
      margin-right: 1rem;
      color: $color1;
    }
  }
}


//      **********************    3rd part PROJECTS    *******************************
.projects{
  .cardsProjects{
    .card{
      background-color: $color5;
      margin-bottom: 2rem;
      width: 30%;
      }
      .card-body{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .card-img-overlay{
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;    
      }
      .card-title{
        background-color: white;
        opacity: 60%;
        margin: 0;
        padding: 10px;
      }
  
      h5{
        color: $color1;
        font-size: 2rem;
      }
  }
}



//    *********************    4th part EXPERIENCE   ************************
//    **********************    5th part EDUCATION    *************************
#cardEx, #cardEd{
  overflow: hidden;
  .card{
    width: 30%; 
    position: relative; 
    top: -100px;
    margin-bottom: 2rem;
    font-size: $sizeMiddle;
    h5{
      font-size: $sizeBigger;
    }
  }

}

#cardEx 

// .abc{
//   height: 50%;
//   width: 50%;
//   border:1px solid black;
//   background-color: $color3;
// }


//    *************************    6th part FORM     ***************************
.our-form .form-control{background-color:#E3E6E8;}

//     *****************************    FOOTER      ******************************
  
footer {
  background-color: $color1;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
  p, a, a:visited{
  color:$color5;
  font-size: $sizeStandard;
  }
  p{
    margin: 1rem 0;
  }
}

//     *****************************    @media  NAVABAR    ******************************

//more than md
@media (min-width: 768px){
  .navbar{
    padding-top: 0;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
    // .container2{
  //   max-width: 75%;
  //   margin: 0 auto;
  // }
  nav{
    a.nav-link{
      padding-top: 0.7rem;
      color:$color5;
      font-size: $sizeStandard;
      display: inline-block;
      // padding-right: 4rem;
    }
    .active {
      position: absolute;
      padding-bottom: 4rem;
      white-space: normal;
    }
  }
}
@media(min-width: 992px){
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
  }
    
  a.nav-link.active {
      white-space: nowrap;
    }
}
//less than md 
@media (max-width: 767px){
  .nav{
    .nav-item{
      display: block;
      // text-align: right;
      // position: relative;
      display: flex;
      justify-content: end;
    }
  }
}

//     *****************************    @media  ABOUT ME    ******************************
@media (min-width: 768px){
  .about-me{
    #links{
      a{
        justify-content: space-between !important;
      }
    }
  }
}

//     *****************************    @media  PROJECTS    ******************************
//less than 900px
@media(max-width : 900px ){

  .projects{
    .cardsProjects{
      .card{
        margin: 0 auto 2rem auto;
        width: 40%;
        }
      }
  }
}
@media (max-width: 767px){
  .projects{
    .cardsProjects{
      .card{
        margin: 0 auto 2rem auto;
        width: 50%;
        }
      }
  }
  #cardEx, #cardEd{
    overflow: hidden;
  
    .card{
      width: 60%; 
      margin: 0 auto 1.5rem auto;
      min-height: 20vh;
      position: relative; 
      text-align: center;
    }
  }
}
//less than small
@media (max-width: 576px){
  .projects{
    .cardsProjects{
      .card{
        margin: 0 auto 2rem auto;
        width: 50%;
        }
      }
  }
}
//     *****************************    @media  WEB DEV    ******************************
@media (max-width: 767px){
  .web-dev{
    .elargir{
      background-color:$color5;
      width: 50%;
      height: 300px; 
      margin: 0 auto 2rem auto;
      .exterior{
        padding-top: 10vh;
        height: 300px; 
      }
      .interior{
        height: 300px; 
      }
    }
  }
}
//     *****************************    @media FOOTER    ******************************
@media (max-width: 767px){
  footer{
    p{
      margin: 0.2rem 0;
    }
  }
}

@media (max-width: 350px){
	.icons a{
		display: flex;
    flex-wrap: wrap;
  }
}

